<div class="main posts-show">
  <div class="container">
      <p>投稿詳細画面です</p>
    <div class="posts-show-item">
    <p>
      <%= @post.content %>
    </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
    </div>
  </div>
</div>